DEBUG=False
SECRET_KEY=change-me
ALLOWED_HOSTS=labmunkz.com,www.labmunkz.com,137.184.125.117,localhost,127.0.0.1
DATABASE_URL=postgres://labmunkz:change-me@127.0.0.1:5432/labmunkz
TIME_ZONE=America/Phoenix
CORS_ALLOW_ALL_ORIGINS=False
EMAIL_HOST_PASSWORD=
