{% extends 'home/base.html' %}

{% block title %}<title>Merch</title>{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <h2 class="shop-header">
        <div class="categories">
            <a href="{% url 'shop:shop' %}" class="{% if not category %}active{% endif %}">All Products</a>
            {% for cat in categories %}
                 - <a href="{% url 'shop:product_list_by_category' cat.slug %}" class="{% if category and category.slug == cat.slug %}active{% endif %}">{{ cat.name }}</a>
            {% endfor %}
        </div>
        </h2>
    </div>
    <div class="card">
        <h2 class="shop-header">{% if category %}{{ category.name }}{% else %}All Products{% endif %}</h2>
        <ul class="product-list">
            {% for product in products %}
                <li>
                    <a href="{% url 'shop:product_detail' product.slug %}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        <h3>{{ product.name }}</h3>
                        {% if product.price %}
                            <p>${{ product.price }}</p>
                        {% else %}
                            <p>Free</p>
                        {% endif %}
                    </a>
                </li>
            {% empty %}
                <p>No products available in this category.</p>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}